/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2017, 04:53:13 PM
    Author     : Jorge
*/

#contenedor {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    /*background-color: black; */
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
    overflow-y: hidden;
}

#div1 { /* cabecera de página */
    position: relative;
    width: 100%;
    height: 20%;
    background: white;
}

#div1_1 {
    position: relative;
    width: 100%;
    height: 80%;
    top: 20%;
    background: orange;
}

#div1_2 {
    position: relative;
    width: 90%;
    height: 50%;
    top: -80%;
    left: 5%;
    background: blue;
}

#login {
    position: absolute;
    width: 20%;
    top: 20px;
    right: 20px;
}

#div1_3 { /* logo jug */
    position: relative;
    width: 10%;
    height: 90%;
    top: -130%;
    left: 13%;
}

#div2 { /* barra lateral izq */
    position: relative;
    width: 13%;
    height: 75%;
    background-color: white;
    float: left;
}

#div3 {
    position: relative;
    z-index: 9999;
    width: 74%; 
    /*height: 75%*/;
    /*height: 65.8%;*/
    /*height: 70.2%;*/
    height: 73.1%;
    background-color: white; /*lime*/
    float: left;
}

#div3_2 { /* videos */
    position: relative;
    top: -18px;
    z-index: -1;
    width: 69.7%;
    height: 92%;
    background-color: rgba(248,80,50,1);
    float: left;
}

#div3_3 { /* side bar */
    position: relative;
    top: -18px;
    z-index: -1;
    width: 30%;
    height: 100%;
    background-color: rgba(248,80,50,1);
    color: white;
    float: right;
}

#div4 { /* barra lateral der */
    position: relative;
    width: 13%;
    height: 75%;
    background-color: white;
    float: left;
}

#div5 { /* pie de página */
    width: 100%;
    height: 5%;
    background-color: beige;
    clear: left;
    font: small-caps 100%/200% serif;
    text-align: right;
}

#IconoManoIzq{
    margin-top: 65%;
}

#IconoManoDer{
    margin-top: 65%;
    margin-left: 2%;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.iconos {
    margin-top: -10%;
    margin-left: 0%;
    margin-bottom: -10%;
    padding: 0;
    width: 25%;
}